<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Dashboard</title>
    <!-- Include Bootstrap CSS from CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="container mt-4">
      <h1>Data Dashboard</h1>
      <label for="endYearFilter">End Year:</label>
      <input type="number" id="endYearFilter" />
      <button onclick="applyFilters()">Apply Filters</button>

      <!-- Display Data Table -->
      <table class="table mt-4">
        <thead>
          <tr>
            <th>Intensity</th>
            <th>Likelihood</th>
            <th>Relevance</th>
            <th>Year</th>
            <th>Country</th>
            <th>Topics</th>
            <th>Region</th>
            <th>City</th>
          </tr>
        </thead>
        <tbody id="data-table-body">
          <!-- Data will be dynamically inserted here -->
        </tbody>
      </table>

      <!-- Display Chart -->
      <canvas id="myChart-bar-country" width="40" height="20"></canvas>

      <canvas
        id="myChart-scatter-intensity-topic"
        width="20"
        height="20"
      ></canvas>
    </div>
    <!-- Include Bootstrap JS and Chart.js from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Include your custom JavaScript file -->
    {% load static %}
    <script src="{% static '/base/js/dashboard.js' %}"></script>

    <!-- <script>
      fetchDataAndRender();
    </script> -->
  </body>
</html>
